body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.login-box label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding: 5px 0;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.login-box input[type="submit"] {
    border: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

#error-message {
    color: red;
    margin-top: 10px;
    font-size: 16px;
}